<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://workwithdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9e606824-81c3-4f73-98d2-7be8f66e84ea/resourcegroups/DefaultResourceGroup-EA/providers/Microsoft.Web/sites/WorkWithDB</ResourceId>
    <UserName>$WorkWithDB</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://workwithdb.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>